html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway',
        sans-serif;
    ;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.bg-header {
    background-image: url('../img/bg-header-min.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18.7em;
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.23);
    padding: 1.5em;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: 600;
}

@media (min-width: 768px) {
    .navbar-brand {
        flex-direction: row;
        margin: 0;
    }
}

.navbar-brand img {
    width: 2em;
}

.navbar-nav {
    background-color: rgba(0, 0, 0, 0.80);
    padding: 1em;
    border-radius: 0.3em;
}

.nav-link {
    display: inline-block;
    padding: 0.1em;
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 0.3em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 0.5em;
}

.btn-primary {
    color: white;
    background-color: #0F2620;
}

.btn-secondary {
    color: white;
    background-color: #7BA69A;
}

.btn-danger {
    color: white;
    background-color: #A6444C;
}

.btn-light {
    color: black;
    background-color: #DDF2CE;
}

.btn-dark {
    color: white;
    background-color: #302c2d;
}

/* MAIN */
.main {
    margin-top: -2em;
    background-color: white;
    padding: 0.3em;
    border-radius: 0.3em;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .tienda {
        display: flex;
        gap: 1em;
    }
}

/* CARD */

.card {
    background-color: #A6444C;
    color: white;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1em;
}


.card-img {
    width: 100%;
}

.card-body {
    padding: 1em;
}

.card-body h5 {
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 500;
}

.card-body p {
    font-weight: 300;
}

/* NOSOTROS */

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: #302c2d;
}

.nosotros-col-img {
    background-image: url('../img/nosotros-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    order: 2;
}

.nosotros-col-text {
    order: 1;
    text-align: center;
    color: white;
}

.nosotros-body h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.nosotros-body p {
    font-weight: 200;
}

@media (min-width: 405px) {
    .nosotros-col-img {
        height: 500px;
    }
}

@media (min-width: 768px) {
    .nosotros {
        flex-direction: row;
    }

    .nosotros-col-img {
        order: 1;
        flex: 1 1 0;
    }

    .nosotros-col-text {
        order: 2;
        flex: 1 1 0;
    }
}

/* FOOTER */

.bg-footer {
    background-color: #302c2d;
    color: white;
}

.bg-footer p {
    margin: 0;
    padding: 1em 0;
    text-align: center;
}